<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-fill min-h-screen bg-zinc-900 text-white p-10">
      <h3 class="text-3xl mb-5">Upload profile image</h3>
      <form action="/upload" method="Post" enctype="multipart/form-data">
        <input
          class="px-3 py-2 bg-transparent border-2 border-zinc-800 outline-none rounded-md"
          type="file"
          name="image"
          placeholder="Image"
        />
        <input
          style="cursor: pointer"
          class="px-3 py-2 bg-blue-500 rounded-md"
          type="submit"
          value="Upload file"
        />
      </form>
    </div>
  </body>
</html>
